<a href="https://colab.research.google.com/github/rc-dbe/bigdatacertification/blob/master/Data_Mining_Model_Structured_Data_(Part_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Hands-on of Big Data Analyst with TuV Certified Qualification*


---

# 2. Data Mining Model - Structured Data (Part 1)

Sub topics covered in this practice:
* Regression

## Regression
Regression analysis is a basic method used in statistical analysis of data. It’s a statistical method which allows estimating the relationships among variables. One needs to identify dependent variable which will vary based on the value of the independent variable.

### Linear Regression
linear regression is a linear approach to modeling the relationship between a scalar response (or dependent variable) and one or more explanatory variables (or independent variables). [Wikipedia](https://en.wikipedia.org/wiki/Linear_regression)

In [0]:
# Import library
import pandas as pd

In [0]:
# Import Dataset
salary_df = pd.read_csv('https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/Salary_Data.csv')

In [0]:
# Prints the Dataset Information
salary_df.info()

In [0]:
# Prints 10 first Row
salary_df.head(30)

In [0]:
# Prints descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution
salary_df.describe().transpose()

In [0]:
# Import Library to Visualize the Data
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline


plt.rcParams['figure.figsize'] = (7, 7)
plt.style.use('ggplot')

# Show the Distribuion
sns.scatterplot(x="YearsExperience", y="Salary", data= salary_df)

In [0]:
# Select X and Y Variable
X = salary_df.iloc[:, :-1].values
Y = salary_df.iloc[:, 1].values

In [0]:
# Modelling
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X, Y)

In [0]:
# Show Coefficent and Intercept
print('Coefficient = ', lr.coef_)
print('Intercept =', lr.intercept_)

In [0]:
plt.scatter(X, Y)
plt.plot(X, lr.predict(X), color = "green")
plt.title("Salary vs Experience")
plt.xlabel("Years of Experience")
plt.ylabel("Salary")
plt.show()

#### Logistic Regression
Logistic regression is a statistical method for predicting binary classes. The outcome or target variable is dichotomous in nature. Dichotomous means there are only two possible classes. For example, it can be used for cancer detection problems. It computes the probability of an event occurrence.

In this practice, we will learn to make a Logistic Regression model to predict whether a customer will churn or not (also known as customer attrition). The dataset to be used is a telco churn dataset from kaggle (This dataset has been preprocessed before). The data set includes information about:
*   Services that each customer has signed up for – phone, multiple lines, internet, online security, online backup, device protection, tech support, and streaming TV and movies.
*   Customer account information – how long they’ve been a customer, contract, payment method, paperless billing, monthly charges, and total charges.
*   Demographic info about customers – gender, age range, and if they have partners and dependents.
*   Customers who left within the last month – the column is called Churn

In [0]:
# Import Library
import pandas as pd 

#Import the files to Google Colab
url = 'https://raw.githubusercontent.com/rc-dbe/bigdatacertification/master/dataset/churn_trasnsformed_new.csv'
df_csv = pd.read_csv(url, sep=',',)

# Show 10 first Row
df_csv.head()

   Unnamed: 0  gender_0  gender_1  ...  MonthlyCharges  TotalCharges  Churn
0           0         0         1  ...            2985        2985.0      0
1           1         1         0  ...            5695       18895.0      0
2           2         1         0  ...            5385       10815.0      1
3           3         1         0  ...             423      184075.0      0
4           4         0         1  ...             707       15165.0      1

[5 rows x 47 columns]

In [0]:
# Remove "Unnamed:O" Coloumn
df = df_csv.drop("Unnamed: 0", axis=1)
df.head()

   gender_0  gender_1  SeniorCitizen_0  ...  MonthlyCharges  TotalCharges  Churn
0         0         1                0  ...            2985        2985.0      0
1         1         0                0  ...            5695       18895.0      0
2         1         0                0  ...            5385       10815.0      1
3         1         0                0  ...             423      184075.0      0
4         0         1                0  ...             707       15165.0      1

[5 rows x 46 columns]

In [0]:
# Check the Data Infomation
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 46 columns):
gender_0              7043 non-null int64
gender_1              7043 non-null int64
SeniorCitizen_0       7043 non-null int64
SeniorCitizen_1       7043 non-null int64
Partner_0             7043 non-null int64
Partner_1             7043 non-null int64
Dependents_0          7043 non-null int64
Dependents_1          7043 non-null int64
tenure                7043 non-null int64
PhoneService_0        7043 non-null int64
PhoneService_1        7043 non-null int64
MultipleLines_0       7043 non-null int64
MultipleLines_1       7043 non-null int64
MultipleLines_2       7043 non-null int64
InternetService_0     7043 non-null int64
InternetService_1     7043 non-null int64
InternetService_2     7043 non-null int64
OnlineSecurity_0      7043 non-null int64
OnlineSecurity_1      7043 non-null int64
OnlineSecurity_2      7043 non-null int64
OnlineBackup_0        7043 non-null int64
OnlineBackup_1        7043 non-null int64
OnlineBackup_2        7043 non-null int64
DeviceProtection_0    7043 non-null int64
DeviceProtection_1    7043 non-null int64
DeviceProtection_2    7043 non-null int64
TechSupport_0         7043 non-null int64
TechSupport_1         7043 non-null int64
TechSupport_2         7043 non-null int64
StreamingTV_0         7043 non-null int64
StreamingTV_1         7043 non-null int64
StreamingTV_2         7043 non-null int64
StreamingMovies_0     7043 non-null int64
StreamingMovies_1     7043 non-null int64
StreamingMovies_2     7043 non-null int64
Contract_0            7043 non-null int64
Contract_1            7043 non-null int64
Contract_2            7043 non-null int64
PaperlessBilling_0    7043 non-null int64
PaperlessBilling_1    7043 non-null int64
PaymentMethod_0       7043 non-null int64
PaymentMethod_1       7043 non-null int64
PaymentMethod_2       7043 non-null int64
MonthlyCharges        7043 non-null int64
TotalCharges          7043 non-null float64
Churn                 7043 non-null int8
dtypes: float64(1), int64(44), int8(1)
memory usage: 2.4 MB

In [0]:
# Selecting the Feature, by remove the unused feature 
feature = ['Churn', 'TotalCharges']
train_feature = df.drop(feature, axis=1)

# Set The Target
train_target = df["Churn"]

In [0]:
# Show the Feature
train_feature.head(5)

   gender_0  gender_1  ...  PaymentMethod_2  MonthlyCharges
0         0         1  ...                1            2985
1         1         0  ...                0            5695
2         1         0  ...                0            5385
3         1         0  ...                1             423
4         0         1  ...                1             707

[5 rows x 44 columns]

In [0]:
# Split Data
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(train_feature ,train_target, shuffle = True, test_size=0.3, random_state=1)

In [0]:
# Show the training data
X_train.head()

      gender_0  gender_1  ...  PaymentMethod_2  MonthlyCharges
5925         1         0  ...                1             687
4395         0         1  ...                1           10395
1579         1         0  ...                1            8045
1040         1         0  ...                0            9045
1074         1         0  ...                0             211

[5 rows x 44 columns]

In [0]:
# Import the library
from sklearn.linear_model import LogisticRegression

# Train the Logistic Regression Model using Default Parameter
logreg = LogisticRegression()
logreg_model = logreg.fit(X_train,y_train)


# Predict To X_test
y_predlg =logreg.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
# Import the metrics class
from sklearn import metrics

cnf_matrixlg = metrics.confusion_matrix(y_test, y_predlg)
cnf_matrixlg

array([[1405,  180],
       [ 230,  298]])

In [0]:
# Show the Accuracy, Precision, Recall
acc_lg = metrics.accuracy_score(y_test, y_predlg)
prec_lg = metrics.precision_score(y_test, y_predlg)
rec_lg = metrics.recall_score(y_test, y_predlg)
f1_lg = metrics.f1_score(y_test, y_predlg)
kappa_lg = metrics.cohen_kappa_score(y_test, y_predlg)

print("Accuracy:", acc_lg )
print("Precision:", prec_lg)
print("Recall:", rec_lg)
print("F1 Score:", f1_lg)
print("Cohens Kappa Score:", kappa_lg)

Accuracy: 0.8059630856601988
Precision: 0.6234309623430963
Recall: 0.5643939393939394
F1 Score: 0.5924453280318092
Cohens Kappa Score: 0.46552862281064344